//*----------> Import Font Family

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//*----------> Colors

$light: #fff;
$dark: #000;
$blue: #114CE3;
$yellow: #FFE404;
$red: #e13737;

//*----------> Font Family

$roboto:'Roboto', sans-serif;