@use 'variables' as v;
@use 'globals' as g;

:root {
    --primary: rgb(255, 255, 255);
    --secondary: rgb(255, 255, 255);
    --errorColor: red;
    --stepNumber: 6;
    --containerWidth: 600px;
    --bgColor: rgb(232, 232, 232);
    --inputBorderColor: rgb(148, 66, 66);
}

//*----------> Home Page

body {
    font-family: v.$roboto;
    color: v.$light;
    font-size: 1rem;
    
}

h2 {
    font-weight: 200;
    color: v.$yellow;
}

p {
    font-weight: 300;
    line-height: 1.4;
    
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    z-index: 0;

    .bg_img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(180deg);

        z-index: 1;
    }

    .bg_img_overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;

        background-color: v.$blue;
        mix-blend-mode: multiply;

        z-index: 2;
    }

    .bg_img_overlay_dark {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;

        background-color: v.$dark;
        opacity: 0.65;

        z-index: 3;
    }

    .info-container {
        display: none;
        position: relative;

        z-index: 4;
        padding: 30px;

        max-width: 600px;
        gap: 1em;

        .logo {
            padding-bottom: 0.5em;
            border-bottom: 1px solid v.$yellow;
        }

        .info {
            gap: 1em;

            ul {
                gap: 0.5em;

                line-height: 1.5;
            }
        }

        .form-info {
            gap: 1em;

            h2 {
                padding-bottom: 0.5em;
                border-bottom: 1px solid v.$yellow;
            }
        }

        .form-button {
            margin-top: 1em;
            margin-left: auto;
            gap: 1em;

            button {
                

                background-color: v.$yellow;
                border: none;

                padding: 6px 20px;
                text-transform: uppercase;

                cursor: pointer;

                &:hover, &:active {
                    background-color: v.$light;
                    color: v.$blue;
                }
            }
        }
    }
}

.active {
    display: flex !important;
}

//*----------> Form Page

.form_container {
    position: relative;

    z-index: 4;

    padding: 20px;

    max-width: 450px;

    h2 {
        margin-bottom: 20px;
    }
}

.form_slide {

    display: none !important;
    width: 100%;

    .basic_info {
        gap: 1em;
    }


    input {
        width: 100%;
        margin: 10px 0 20px 0;

        font-size: 1rem;

        padding: 10px;

        outline: none;
        border: none;

        background: url("https:cdn-icons-png.flaticon.com/512/7420/7420995.png") no-repeat 95% 50% rgb(255, 255, 255);
            background-size: 20px;

        &:focus {
            border: none;
            outline: none;
        }

        &:focus:invalid {
            background: url("https:cdn-icons-png.flaticon.com/512/2893/2893811.png") no-repeat 95% 50% rgb(255, 255, 255);
                background-size: 20px;
        }

        &:required:focus:valid {
            background: url("https:cdn-icons-png.flaticon.com/512/1828/1828739.png") no-repeat 95% 50% rgb(255, 255, 255);
                background-size: 20px;
        }

        &:required:valid {
            background: url("https:cdn-icons-png.flaticon.com/512/1828/1828739.png") no-repeat 95% 50% rgb(255, 255, 255);
                background-size: 20px;
        }
        
    }

    .not_required {
        background: v.$light;

        &:focus:invalid {
            background: v.$light;
        }
    }

    select {
        width: 100%;
            margin: 10px 0 20px 0;
        
            font-size: 1rem;
        
            padding: 10px;
        
            outline: none;
            border: none;

            background: url("https://cdn-icons-png.flaticon.com/512/3416/3416111.png") 98% 50% no-repeat v.$light;
                appearance: none;
                background-size: 20px;
    }

    .checklist {
        display: flex;
        flex-wrap: wrap;

        margin: 0px 0 20px;
    }
    
    .check {
        margin: 10px 20px 5px 0;
        display: flex;
        align-items: center;
        gap: 0.5em;

        input {
            width: unset;
            margin: unset;
        }
    }

    textarea {
        width: 100%;
        height: 60px;
        margin: 10px 0 20px 0;
        
            font-size: 1rem;
        
            padding: 10px;
        
            outline: none;
            border: none;
    }


    .buttons {
        margin-top: 15px;

        display: flex;
        gap: 1em;
        width: 100%;
        
        button {
        
            background-color: v.$yellow;
                border: none;
            
                padding: 6px 20px;
                text-transform: uppercase;
            
                cursor: pointer;
            
                &:hover,
                &:active {
                    background-color: v.$light;
                    color: v.$blue;
                }
        }
    }
}

.visible {
    display: block !important;
}


//*----------> Form Submitted

.submitted_container {
    padding: 20px;


    position: relative;

    z-index: 4;
    max-width: 600px;

    h2 {
        margin-bottom: 20px;
    }


}
